body {
    background-color: #252525;
    font-family: Helvetica;
    color: #edb12e;
    text-align: center;
}

.ball {
    margin: auto;
    text-align: center;

    height: 100px;
    width: 100px;
    border-radius: 50%;

    font-size: 22px;
    font-weight: bold;
    background-color: blanchedalmond;
    transition: 1s;
}