body {
    background-color: #252525;
    font-family: Helvetica;
    color: #edb12e;
    text-align: center;
    transition: 1s;
}

.ball {
    margin: auto;
    text-align: center;

    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    background-color: blanchedalmond;
    transition: 1s;
}

.ball2{
    position: absolute;
    right: 30%;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
    background-color: rgb(205, 253, 255);
}

.ball3{
    position: absolute;
    left: 30%;
    text-align: center;
    line-height: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(255, 205, 213);
}

.ball4{
    position: absolute;
    left: 20%;
    text-align: center;
    line-height: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(205, 255, 223);
}

.ball5{
    position: absolute;
    left: 10%;
    text-align: center;
    line-height: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(255, 251, 205);
}


.ball6{
    position: absolute;
    left: 0%;
    text-align: center;
    line-height: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(255, 251, 205);
}