body {
    background-color: #252525;
    font-family: Helvetica;
    color: #ebf1f1;
}

.ball{
    margin: auto;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blanchedalmond;
}